

#hamburger-menu-icon{
  width: 2rem;
  margin-left: 5rem;
}

.navbar-menu{
  display: flex;
  flex-direction: column;
}

.divv{
  width: 100%;
  background-color: rgb(255, 0, 0);
}

.first-div-nav{
  width: 10rem;
  display: flex;
  background-color: rgb(255, 0, 0);
}

.ul-slide-menu{
  padding: 0;
  background-color: aquamarine;
  width: 10rem;
  left:-165px;
  height: 100vh;
  position: absolute;
  top: 2rem;
}

.primary-title{
  position: absolute;
  width: auto;
  left: 50;
}

.secondary-title{
  position: absolute;
  width: auto;
  left: -165px;
}